#alertModalBackground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    touch-action: none;
    /* for Safari */
    -webkit-touch-action: none;
    z-index: 1001;
    display: none;
}

#alertModal {
    z-index: 1002;
}

#alertMessageContainer {
    display: flex;
    justify-content: center;
}

#alertMessageBlock {
    border: 2px solid black;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#alertMessageBlock p,
#alertMessageBlock b {
    margin: 1.5vh 0;
}