#modalShopContainer {
    justify-content: space-around;
}

#modalShopContentContainer {
    display: flex;
    justify-content: space-around;
}

.subShopContainer {
    width: 30%;
    border: 3px solid black;
    text-align: center;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vh;
}

.subShopContainer strong {
    text-align: center;
    font-size: 2em;
}

.subShopContainer div img {
    width: 75%;
    height: auto;
}